.users {
    margin-top: 90px;
    width: 800px;
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto; /* Center the container horizontally */
}

.user-head {
    letter-spacing: 2px;
    font-size: 29px;
    font-style: inherit;
}

.user-head-sub {
    color: rgb(230, 8, 156);
}

.tab-hed {
    font-size: 20px;
    letter-spacing: 1px;
    height: 50px;
}

.use-body-one {
    display: grid; /* Use grid layout for better alignment */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Divide into four equal columns */
    align-items: center;
    border: 1px solid whitesmoke;
    height: 50px; /* Set height to match tab headings */
}

.use-body-two {
    display: grid; /* Use grid layout for better alignment */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Divide into four equal columns */
    align-items: center;
    height: 72px;
    border: 1px solid whitesmoke;
    color: rgb(87, 86, 86);
}

.tab-body {
    font-size: 18px;
    width: 100px;
}

.tab-body-btn {
    margin-left: 20px; /* Adjust margin */
    border: none;
    background: none;
    font-size: 19px;
    color: rgb(87, 86, 86);
}

.tab-body-btn:hover {
    color: red;
}

.use-body-two:nth-child(odd) {
    background-color: whitesmoke;
}

.tab-body-img img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    object-fit: cover;
    margin-top: 3px;
    margin-left: 10px;
}


@media only screen and (max-width: 1115px) {
    .users {
        width: 700px;
        margin-left: 110px; /* Adjust width for smaller screens */
    }  
}
@media only screen and (max-width: 1074px) {
    .users {
        width: 600px;
        margin-left: 260px; /* Adjust width for smaller screens */
    }  
}
@media only screen and (max-width: 842px) {
    .users {
        width: 500px;
        margin-left: 320px; /* Adjust width for smaller screens */
    }  
}

@media only screen and (max-width: 720px) {
    .users {
        visibility: hidden;    }  
}