.cards{
    /* width: 200px; */
    margin-left: 20px;
    gap: 36px;
    width: 100%;

}
.cards img{
    width: 150px;
}
.cards p{
    /* margin: 6px 0px;
    margin-left: 30px;
    overflow: hidden;
    text-overflow: ellipsis; */
    font-size: 15px;
}
.cards:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
